<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<body>
		<div class="container">
			<div class="py-5 text-center">
				<h2>케어시터 등록</h2>
			</div>
			<form th:action="@{/api/dashboard/caresitter}" th:method="post" enctype="multipart/form-data">
				<ul>
					<li>preferredType <input type="text" name="preferredType" id="preferredType" /></li>
					<li>desiredDayWeek <input type="text" name="desiredDayWeek" id="desiredDayWeek" /></li>
					<li>activityTime <input type="text" name="activityTime" id="activityTime" /></li>
					<li>desiredHourlyWage <input type="text" name="desiredHourlyWage" id="desiredHourlyWage" /></li>
					<li>desiredMonthlyWage <input type="text" name="desiredMonthlyWage" id="desiredMonthlyWage" /></li>
					<li>cctvAgreement <input type="int" name="cctvAgreement" id="cctvAgreement" /></li>
					<li>vaccination <input type="int" name="vaccination" id="vaccination" /></li>
					<li>introduction <input type="text" name="introduction" id="introduction" /></li>
					<li>disclosureStatus <input type="int" name="disclosureStatus" id="disclosureStatus" /></li>
					<li>첨부파일<input type="file" name="attachFile" id="attachFile" /></li>
					<li>이미지 파일들<input type="file" multiple="multiple" name="attachFiles" id="attachFiles" /></li>
				</ul>
<!--				<input type="submit" onclick="submit()"/>-->
                <input id="tokenField" type="hidden" />
                <input id="submitButton" type="button" value="제출"/>
			</form>
			<div>
				<button onclick="getSession()">세션가지고와</button>
			</div>
		</div>
		<!-- /container -->

		<script th:inline="javascript">

            $('#submitButton').on('click',function(){
				const formData = new FormData();
				const attachFiles = new Array();

				formData.append('preferredType', $('#preferredType').val());
				formData.append('desiredDayWeek', $('#desiredDayWeek').val());
				formData.append('activityTime', $('#activityTime').val());
				formData.append('desiredHourlyWage', $('#desiredHourlyWage').val());
				formData.append('desiredMonthlyWage', $('#desiredMonthlyWage').val());
				formData.append('cctvAgreement', $('#cctvAgreement').val());
				formData.append('vaccination', $('#vaccination').val());
				formData.append('introduction', $('#introduction').val());
				formData.append('disclosureStatus', $('#disclosureStatus').val());
				// formData.append('attachFile', $('#attachFile'));
				// formData.append('attachFile', document.getElementById('attachFile')[0].files[0]);
				formData.append('attachFile', $('#attachFile')[0].files[0]);
				// console.log($('#attachFile')[0].files[0])

				// Array.from($('#attachFile')[0].files).map(e => formData.append('attachFile', e));

				const size = document.getElementById('attachFiles').files.length;
				for (let i = 0; i < size; i++) {
					formData.append('attachFiles', $('#attachFile')[0].files[i]);
				}

				// var attachFile = $("input[name='attachFile']");
				// var file = attachFile[0].files;
				//
				// formData.append('attachFile', file);






				$.ajax({
                    url: "/api/dashboard/caresitter",
                    type: 'POST',
					cache: false,
					contentType: false,
					processData: false,
					enctype: 'multipart/form-data',
                    // contentType: 'application/json',
                    headers: {
                        "Authorization": sessionStorage.getItem('access_token')
                    },
                    data: formData,
                    async: false
                })});


			const getSession = () => {
				const data = sessionStorage.getItem('access_token');
				console.log(data)
			}
		</script>
	</body>
</html>
