<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8"/>
  <title>스토어 관리</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="py-5 text-center">
      <h2>스토어 관리</h2>
      <div>
          <ul>
            <li>스토어명: <span th:text="${store.name}"></span></li>
            <li>홈페이지 주소 : <span th:text="${store.name}"></span></li>
            <li>사업자 등록 번호 : <span th:text="${store.businessLicenseNumber}"></span></li>
            <li>이메일: <span th:text="${store.email}"></span></li>
            <li>운영 시작 시간: <span th:text="${store.operationStartTime}"></span></li>
            <li>운영 종료 시간: <span th:text="${store.operationEndTime}"></span></li>
            <li>점심 시작 시간: <span th:text="${store.lunchStartTime}"></span></li>
            <li>점심 종료 시간: <span th:text="${store.lunchEndTime}"></span></li>
            <li>휴무일: <span th:text="${store.closedDay}"></span></li>
            <li>업체 법인 명: <span th:text="${store.companyCorporationName}"></span></li>
            <li>대표자명: <span th:text="${store.representativeName}"></span></li>
            <li>사업장 소재지: <span th:text="${store.businessLocation}"></span></li>
            <li>고객센터 번호: <span th:text="${store.customerServiceNumber}"></span></li>
            <li>신청일: <span th:text="${store.createdAt}"></span></li>
            <input id="approve" th:onclick="approveStore([[${store.id}]])" type="button" value="승인"/>
          </ul>
      </div>
    </div>
  </div>
  <script th:inline="javascript">

    function approveStore(id){
      console.log(id);
      $.ajax({
        url: "/api/admin/stores/"+id,
        type: 'POST',
        success: function (){
          location.href = "/admin/stores"
        }
      })
    }

  </script>
</div>
</body>
</html>
