<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/caresitter}">
<head>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="py-5 text-center">
            <h2>케어시터 조회</h2>
        </div>
        선호케어유형: <span th:text="${careSitter.preferredType}"></span><br/>
        희망활동요일: <span th:text="${careSitter.desiredDayWeek}"></span><br/>
        희망활동시간: <span th:text="${careSitter.activityTime}"></span><br/>
        희망 시급: <span th:text="${careSitter.desiredHourlyWage}"></span><br/>
        희망 월급: <span th:text="${careSitter.desiredMonthlyWage}"></span><br/>
        CCTV 동의여부: <span th:text="${careSitter.cctvAgreement}"></span><br/>
        백신접종유무: <span th:text="${careSitter.vaccination}"></span><br/>
        소개글: <span th:text="${careSitter.introduction}"></span><br/>

        <div th:each="careSitterImage : ${careSitterImages}">
            <a th:href="|/attach/${careSitterImage.id}|"
               th:text="${careSitterImage.getUploadFileName()}"/><br/>
            <img th:src="|/images/${careSitterImage.getStoreFileName()}|" width="300" height="300"/>
        </div>
    </div>
</div>
<!-- /container -->
</body>
</html>
