<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
	</head>
	<body>
		<form action="/api/dashboard/caresitter" method="post">
			<input type="text" name="preferredType" />
			<input type="text" name="desiredDayWeek"/>
			<input type="text" name="activityTime"/>
			<input type="text" name="desiredHourlyWage"/>
			<input type="text" name="desiredMonthlyWage"/>
			<input type="number" name="cctvAgreement"/>
			<input type="number" name="vaccination"/>
			<input type="text" name="introduction"/>
			<input type="text" name="memberId"/>
		</form>
	</body>
</html>
