<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="container">
			<div class="py-5 text-center">
				<h2>케어시터 조회</h2>
			</div>
			preferredType: <span th:text="${careSitter.preferredType}"></span><br />
			desiredDayWeek: <span th:text="${careSitter.desiredDayWeek}"></span><br />
			activityTime: <span th:text="${careSitter.activityTime}"></span><br />
			desiredHourlyWage: <span th:text="${careSitter.desiredHourlyWage}"></span><br />
			desiredMonthlyWage: <span th:text="${careSitter.desiredMonthlyWage}"></span><br />
			cctvAgreement: <span th:text="${careSitter.cctvAgreement}"></span><br />
			vaccination: <span th:text="${careSitter.vaccination}"></span><br />
			introduction: <span th:text="${careSitter.introduction}"></span><br />

			<div th:each="careSitterImage : ${careSitterImages}">
				<a th:href="|/attach/${careSitterImage.id}|"
				   th:text="${careSitterImage.getUploadFileName()}" /><br/>
				<img th:src="|/images/${careSitterImage.getStoreFileName()}|"  width="300" height="300"/>
			</div>
		</div>
		<!-- /container -->
	</body>
</html>
