<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>자격증 관리</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${certifications} == null">
        <li><a th:href="@{/dashboard/caresitter/{id}(id=${careSitter.id})/certifications/new}">자격증 등록</a></li>
    </th:block>
    <th:block th:if="${certifications} != null">
        <div th:each="certification : ${certifications}">
            <li th:text="${certification.name}"></li>
            <li th:text="${certification.adminApproval}"></li>
            <li th:text="${certification.createdAt}"></li>
            <img th:src="|/images/${certification.getStoreFileName()}|" width="300" height="300"/>
        </div>
        <li><a th:href="@{/dashboard/caresitter/{id}(id=${careSitter.id})/certifications/new}">자격증 등록</a></li>
    </th:block>
</div>
</body>
</html>
