<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Everycare</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <th:block layout:fragment="styles">
        <script src="/js/header.js"></script>
    </th:block>
</head>
<div class="header" th:fragment="header">
    <h1>
        <div id="logo"><a href="/"><span>Everycare</span></a></div>
    </h1>
    <div>
        <div id="top_menu" sec:authorize="isAnonymous()">
            <a th:href="@{/signin}">로그인 |</a>
            <a th:href="@{/signup}">회원가입</a>
        </div>

        <nav>
            <ul>
                <li><a th:href="@{/}">케어매칭</a></li>
                <li><a th:href="@{/carenote}">케어노트</a></li>
                <li><a th:href="@{/store}">케어스토어</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <ul>
            <div>
                <div sec:authorize="isAuthenticated()">
                    <li><span sec:authentication="name">name</span><span>님 안녕하세요!</span></li>
                    <!--                            <li sec:authentication="authorities">authorities</li>-->
                    <li>
                        <button onclick="logout()">로그아웃</button>
                    </li>
                    <li><a th:href="@{/dashboard}">마이페이지</a></li>
                </div>
            </div>
        </ul>
    </div>
</div>
</body>
</html>
