<div class="header" th:fragment="header">
    <div class="header-box">
        <h1><a href="/" style="margin-left: 100px;"><span>Everycare</span></a></h1>
        <div>
            <ul>
                <li><a th:href="@{/}">케어매칭</a></li>
                <li><a th:href="@{/carenote}">케어노트</a></li>
                <li><a th:href="@{/store}">케어스토어</a></li>
                <li><a th:href="@{/dashboard}">마이페이지</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li sec:authentication="name">name</li>
                <li sec:authentication="authorities">authorities</li>
            </ul>
        </div>
        <div>
            <ul>
                <div sec:authorize="isAnonymous()">
                    <li><a th:href="@{/signin}">로그인</a></li>
                    <li><a th:href="@{/signup}">회원가입</a></li>
                </div>
                <div>
                    <div sec:authorize="isAuthenticated()">
                        <li><button onclick="logout()">로그아웃</button></li>
                        <li><a href="#none">정보수정</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">
    // 쿠키 삭제
    const delCookie = function delCookie_by_name(name){
        let date = new Date();
        date.setDate(date.getDate() - 100);
        let Cookie = `${name}=;Expires=${date.toUTCString()}`
        document.cookie = Cookie;
    }
    const logout = () => {
        delCookie("Authorization");
        location.href="/"
    }

</script>