<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>login</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h2>로그인</h2>
<input title="아이디" type="text" name="username" id="username"/>
<input title="비밀번호" type="password" name="password" id="password"/>
<button type="button" onclick="login()">Login</button>

<script th:inline="javascript">
  const login = () => {
    const username = document.getElementsByName('username')[0].value;
    const password = document.getElementsByName('password')[0].value;
    const json = {
      username: username,
      password: password,
    };
    axios
            .post('/login', json)
            .then((res) => {
              console.log(res);
              sessionStorage.setItem('id', username);
              // location.href="/"
            })
            .catch((err) => {
              console.log(err);
            });
  };
</script>
</body>
</html>
