<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>구인 글 등록</h1>
<!--<div th:each="c : ${careTarget}">-->
<!--    <span th:text="c.name"></span>-->
<!--    <span th:text="c.gender"></span>-->
<!--</div>-->
<!--<div th:each="cs : ${careTargetSchedule}">-->
<!--    <span th:text="cs.name"></span>-->
</div>
</body>
</html>
<script>
    $.ajax({
        type:"GET",
        headers: {
            "Authorization": sessionStorage.getItem('access_token')
        },
    })
</script>