<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="result" th:each="c:${careTarget}">
        <ul>
            <li hidden th:text="${c.id}"></li>
            <li>name: <span th:text="${c.name}"></span></li>
            <li>gender: <span th:text="${c.gender}"></span></li>
            <li>birth:<span th:text="${c.birth}"></span></li>
            <li>height:<span th:text="${c.height}"></span>cm&nbsp;&nbsp;
                weight:<span th:text="${c.weight}"></span>kg
            </li>
            <li>address:<span th:text="${c.zipcode}"></span></li>
            <li>careType:<span th:text="${c.careType}"></span></li>
        </ul>
    <button th:id="${c.id}" class="id">선택</button>
</div>
</body>
</html>
<script th:inline="javascript">

    $(function () {
        $('.id').on('click', function () {
            var getId=$(this).attr("id")
            $.ajax({
                type: "post",
                url: '/api/recruitions/recruition/'+getId,
                data: JSON.stringify({ "id" : getId}),
                contentType:'application/json',
                dataType: 'json',
            })
                .done((res)=>{
                    console.log(res)
                })
        })
    })

</script>