<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
<h2>로그인</h2>
<input title="아이디" type="text" name="username" id="username"/>
<input title="비밀번호" type="password" name="password" id="password"/>
<button type="button" id="send">Login</button>


<script th:inline="javascript">
  $(function () {
    $('#send').click((event) => {
      const username = $('#username').val();
      const password = $('#password').val();
      const path = '/login';
      const json = JSON.stringify({
        'username': username,
        'password': password
      });
      $.ajax({
        url: path,
        type: 'POST',
        contentType: 'application/json',
        data: json,
      }).done((result) => {
        console.log(result);
      });
    });
  });
</script>

</body>
</html>