<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>회원 가입</h2>
  </div>
  <form th:action="@{/api/signup}" th:method="post" enctype="multipart/form-data">
    <ul>
      <li>id <input type="text" name="id" /></li>
      <li>password <input type="password" name="password" /></li>
      <li>name <input type="text" name="name" /></li>
      <li>gender <input type="text" name="gender" /></li>
      <li>birth <input type="date" name="birth" /></li>
      <li>phone <input type="text" name="phone" /></li>
      <li>email <input type="email" name="email" /></li>
      <li>zipcode <input type="text" name="zipcode" /></li>
      <li>address <input type="text" name="address" /></li>
      <li>detailedAddress <input type="text" name="detailedAddress" /></li>
      <li>bank <input type="text" name="bank" /></li>
      <li>accountNumber <input type="text" name="accountNumber" /></li>
    </ul>
    <input type="submit" />
  </form>
</div>
<!-- /container -->
</body>
</html>
